body {
    background-color: greenyellow;
    font: normal 15pt Arial;
}

header {
    color: rgb(44, 44, 44);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30pt;    
    text-align: center;  
}

section {
    background-color: rgba(2, 2, 2, 0.842);
    color: black;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 20px;
    width: 50%;
    margin: auto;
    box-shadow: 3px 3px 40px rgba(0, 0, 0, 0.281);
}

div {
    color: rgb(1, 250, 1);    
}

footer {
    text-align: center;   
    font-style: italic;
    font-size: 12pt;
}